__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.pickle
*.pickle.db

.env
.venv/
venv/
env/
ENV/
env_*/
env-zoho/
env-gpt/
env-*/

*.env

.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject
*.sublime-project
*.sublime-workspace

.build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.whl

.coverage
.coverage.*
.cache/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
htmlcov/
.tox/
.nox/
.hypothesis/
.dmypy.json
dmypy.json
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

*.dockerfile
docker-compose.override.yml

pip-log.txt
pip-delete-this-directory.txt
*.log

*.json
**/*.json
.uploaded_files
*/data/*

.DS_Store
Thumbs.db

docs/_build/
.ipynb_checkpoints/
.site

*.manifest
*.spec
.pybuilder/
target/

db.sqlite3
db.sqlite3-journal
local_settings.py
settings_local.py
migrations/
